body{
	margin:0px;
}
.wrap{
	margin:0px;
	padding:0px;
	align:center;
}
.wrap .top{
	position:absolute;
	top:5px;
	left:5px;
	z-index:10;
	padding:0px;
}
.wrap .device{
	margin:10px;
	padding:0px;

	height:inherent;

	width:inherent;
}
.wrap .bottom_left{
	float:left;
	height:55px;
	border-right:1px solid lightblue;
	width:50%;
	overflow-y:scroll;
}
.wrap .bottom_right{
	float:left;
	height:55px;
	width:49%;
	overflow-y:scroll;
}
.wrap .bottom{
	border:1px solid lightblue;
	margin:10px;

	height:58px;
	
}
.wrap .bottom a{
	color:red;
	}
.wrap .fullscreen{
	background:black;
	display:inline-block;
	width:70px;
	height:25px;
	line-height:25px;
	text-align:center;
	font-size:12px;
	color: #FFFFFF;
	text-decoration:none;

}