body{
	margin:0px;
}
.wrap{
	margin:0px;
	padding:0px;
	align:center;
}
.wrap .top{
	position:absolute;
	top:5px;
	left:5px;
	z-index:10;
	padding:0px;
}
.wrap .device{
	margin:10px;
	padding:0px;
<<<<<<< HEAD
	height:inherent;
=======
	height:400px;
>>>>>>> 2018a979624712603770d4911bfad2ff5074de22
	width:inherent;
}
.wrap .bottom_left{
	float:left;
	height:100px;
	border-right:1px solid lightblue;
	width:50%;
	overflow-y:scroll;
}
.wrap .bottom_right{
	float:left;
	height:100px;
	width:49%;
	overflow-y:scroll;
}
.wrap .bottom{
	border:1px solid lightblue;
	margin:10px;
<<<<<<< HEAD
	height:100px;
	
}
.wrap .bottom a{
	color:red;
	}
.wrap .fullscreen{
	background:black;
	display:inline-block;
	width:70px;
	height:25px;
	line-height:25px;
	text-align:center;
	font-size:12px;
	color: #FFFFFF;
	text-decoration:none;
=======
	height:80px;
	width:950px;
	position: absolute;bottom: 1px;
>>>>>>> 2018a979624712603770d4911bfad2ff5074de22
}