<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
  
  <!-- 业务短信服务的通知对象 -->
  <bean id="smsAdvice" class="org.pmp.sms.SmsAdvice" >
    <property name="smsSendService" ref="smsSendService" />
  </bean>
  
  <!-- 业务短信切面配置 -->
  <aop:config>  
    <aop:aspect ref="smsAdvice">  
       <aop:pointcut id="smsInput" expression=
       "execution(* org.pmp.service.business.ICondoFeeService.batchAudit(..))"/>  
       <aop:after method="auditAdvice" pointcut-ref="smsInput"/>
     </aop:aspect>
  </aop:config>

  <bean id="logAdvice" class="org.pmp.log.UserBehaviorTrackLogger" />
  <!-- Log related AOP configuration -->
  <aop:config>
    <aop:aspect ref="logAdvice">  
       <!-- login / logout operations POINTCUT -->
       <aop:pointcut id="loginPointcut" expression="execution(* org.pmp.service.admin.IModuleService.getModuleListByRoleID(..))" />
       <!-- add / edit / delete operations POINTCUT -->
       <aop:pointcut id="addPointcut" expression="execution(* org.pmp.service..*.add*(..))"/>  
       <aop:pointcut id="editPointcut" expression="execution(* org.pmp.service..*.edit*(..))"/>
       <aop:pointcut id="deletePointcut" expression="execution(* org.pmp.service..*.delete*(..))"/>
       <!-- batch operations POINTCUT -->
       <aop:pointcut id="batchAddPointcut" expression="execution(* org.pmp.service..*.batchAdd*(..))"/>
       <aop:pointcut id="batchEditPointcut" expression="execution(* org.pmp.service..*.batchEdit*(..))"/>
       <aop:pointcut id="batchDeletePointcut" expression="execution(* org.pmp.service..*.batchDelete*(..))"/>
       
       
       <!-- login / logout operations advice -->
       <aop:after method="loginTrack" pointcut-ref="loginPointcut" />
       <!-- add / edit / delete operations advice -->
       <aop:after method="addTrack" pointcut-ref="addPointcut"/>
       <aop:after method="editTrack" pointcut-ref="editPointcut"/>
       <aop:after method="deleteTrack" pointcut-ref="deletePointcut"/>
       <!-- batch operations advice -->
       <aop:after method="batchAddTrack" pointcut-ref="batchAddPointcut"/>
       <aop:after method="batchEditTrack" pointcut-ref="batchEditPointcut"/>
       <aop:after method="batchDeleteTrack" pointcut-ref="batchDeletePointcut"/>
     </aop:aspect>
  </aop:config>
</beans>