<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  
  <!-- DAO Declare -->
  <!-- ======================================================================================= -->
  <bean id="zoneDAO" class="org.pmp.dao.impl.fire.ZoneDAO" parent="baseDAO"/>
  <bean id="fireInfoDAO" class="org.pmp.dao.impl.fire.FireInfoDAO" parent="baseDAO"/>
  <bean id="fireDeviceDAO" class="org.pmp.dao.impl.fire.FireDeviceDAO" parent="baseDAO"/>
  <bean id="fireInfoBakDAO" class="org.pmp.dao.impl.fire.FireInfoBakDAO" parent="baseDAO"/>
    
  <!-- Service Declare -->
  <!-- ======================================================================================= -->
  <bean id="zoneService" class="org.pmp.service.impl.fire.ZoneService">
    <property name="zoneDAO" ref="zoneDAO" />
  </bean>
  <bean id="fireInfoService" class="org.pmp.service.impl.fire.FireInfoService">
    <property name="fireInfoDAO" ref="fireInfoDAO" />
    <property name="fireInfoBakDAO" ref="fireInfoBakDAO" />
  </bean>
  <bean id="fireDeviceService" class="org.pmp.service.impl.fire.FireDeviceService">
    <property name="fireDeviceDAO" ref="fireDeviceDAO" />
  </bean>
  <bean id="fireInfoBakService" class="org.pmp.service.impl.fire.FireInfoBakService">
    <property name="fireInfoBakDAO" ref="fireInfoBakDAO" />
  </bean>
  
  <!-- Action Declare -->
  <!-- ======================================================================================= -->
  <bean id="zoneAction" class="org.pmp.action.fire.ZoneAction">
    <property name="zoneService" ref="zoneService" />
    <property name="projectService" ref="projectService" />
    <property name="fireDeviceService" ref="fireDeviceService"></property>
    <property name="fireInfoService" ref="fireInfoService"></property>
  </bean>
  <bean id="fireInfoAction" class="org.pmp.action.fire.FireInfoAction">
    <property name="fireInfoService" ref="fireInfoService" />
    <property name="fireInfoBakService" ref="fireInfoBakService" />
    <property name="projectService" ref="projectService" />
    <property name="fireDeviceService" ref="fireDeviceService" />
  </bean>
    
</beans>
