.window_content{
	margin:10px;
}
.window_content .left{
	 width:150px; 
	 float:left; 
	 margin:5px; 
	 padding:20px 0 0 20px;
}
.select_tab{
	text-align:center;
}
.window_content .middle{
	 width:100px; 
	 float:left; 
	 padding:60px 0 0 10px;
}
.window_content .right{
	 width:150px; 
	 float:left; 
	 margin:5px; 
	 padding:20px 0 0 0;
}
.window_content select{
	height:200px;
	width:100%;
}