<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

<head>
	<title>Destroydrop &raquo; Javascripts &raquo; Tree</title>

	<link rel="StyleSheet" href="dtree.css" type="text/css" />
	<script type="text/javascript" src="dtree.js"></script>

</head>

<body>

<h1><a href="/">Destroydrop</a> &raquo; <a href="/javascripts/">Javascripts</a> &raquo; <a href="/javascripts/tree/">Tree</a></h1>

<h2>Example</h2>

<div class="dtree">

	<p><a href="javascript: d.openAll();">open all</a> | <a href="javascript: d.closeAll();">close all</a></p>

	<script type="text/javascript">

      /*var i=4;
		var name='node 55';
		d = new dTree('d');
		d.add(0,-1,'My example tree');
		d.add(1,0,'Node 1','example01.html');
		d.add(2,0,'Node 2','example01.html');
		d.add(3,1,'Node 1.1','example01.html');
		d.add(4,0,'Node 3','example01.html');
		d.add(5,3,'Node 1.1.1','example01.html');
		d.add(6,5,'Node 1.1.1.1','example01.html');
		d.add(7,0,'Node 4','example01.html');
		d.add(8,1,'Node 1.2','example01.html');
		d.add(9,0,'My Pictures','example01.html','Pictures I\'ve taken over the years','','','img/imgfolder.gif');
		d.add(10,9,'The trip to Iceland','example01.html','Pictures of Gullfoss and Geysir');
		d.add(11,9,'Mom\'s birthday','example01.html');
		d.add(12,0,'Recycle Bin','example01.html','','','img/trash.gif');
		d.add(13,i,name,'example01.html');
        alert(d);
		document.write(d);*/


		function readXML(xmlfilename){
		
		     var xmlDom = null;
             if (window.ActiveXObject){
                  xmlDom = new ActiveXObject("Microsoft.XMLDOM");
                    //xmlDom.loadXML(xmlFile);//如果用的是XML字符串
                  xmlDom.load(xmlfilename);//如果用的是xml文件。
             }else if (document.implementation && document.implementation.createDocument){
                  var xmlhttp = new window.XMLHttpRequest();
                  xmlhttp.open("GET",xmlfilename, false);
                  xmlhttp.send(null);
                  xmlDom = xmlhttp.responseXML;
             }else{
              xmlDom = null;
             }
             return xmlDom;
		}
		function createTree(xmlfilename){
			 var xmlDom =readXML(xmlfilename);
			 alert(xmlDom);
			 if(xmlDom==null){
				 alert("读取xml文件失败！");
				 //return;
			 }
			 comms=xmlDom.getElementsByTagName("community");
			 d=new dTree('d');
			// tree = new dTree('tree');
			 //tree=d2;
			 d.add(0,-1,'My example tree');
			 alert(d);
			 id=1;
			 for(i=0;i<comms.length;i++){
				 pid1=id;
				 d.add(id,0,comms[i].getElementsByTagName("name")[0].childNodes[0].nodeValue,'example01.html');id=id+1;
				 buils=comms[i].getElementsByTagName("building");
				 alert(buils.length);
				 for(j=0;j<buils.length;j++){pid2=id;
					 d.add(id,pid1,buils[j].getElementsByTagName("name")[0].childNodes[0].nodeValue,'example01.html');id=id+1;
					// alert(buils[j].getElementsByTagName("name")[0].childNodes[0].nodeValue);
					 floors=buils[j].getElementsByTagName("number")[0].childNodes[0].nodeValue;
					 for(k=0;k<floors;k++){
						 d.add(id,pid2,(k+1)+"层",'example01.html');id=id+1;
					 }
			     }
			 }
			 //document.write(tree);
			// alert("id："+id);
			 //alert(tree);
			// return d;
			 document.getElementById("tree").innerHTML=d.toString();
			// document.getElementById("tree");
		}
	</script>

</div>

<input type="button" value="button" onclick="createTree('treedata.xml')">
<p><a href="mailto&#58;drop&#64;destroydrop&#46;com">&copy;2002-2003 Geir Landr&ouml;</a></p>
<div id="tree" name="tree">
<script type="text/javascript">
<!--
//document.write(createTree('treedata.xml'));
-->
</script>
</div>

</body>

</html>